<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDF to SPARQL Query Processing</title>
    <!-- Link to your stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Google Font for Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <a href="/home"><h2>Home</h2></a>
        <a href="/about"><h2>About</h2></a>
    </div>
    <h1>UPLOAD RDF AND ENTER SPARQL QUERY</h1>
    <form action="/query" method="post" enctype="multipart/form-data">
        <label for="rdf_file">RDF File:</label><br>
        <input type="file" id="rdf_file" name="rdf_file" required><br>

        <label for="sparql_query">SPARQL Query:</label><br>
        <textarea id="sparql_query" name="sparql_query" rows="4" cols="50" required></textarea><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
